---
layout: page
title: About
subtitle: 有些事情，还是不要忘记的好。
permalink: /about/
---

<p>计算机专业。</p>

<p>喜欢有创意有脑洞的事，还算是是个有趣的人。对新事物有浓厚的学习兴趣。</p>

<p>热爱编程，喜欢自己用代码实现某些东西时的成就感。</p>

<p>看过好多书，学过很多种编程语言和技术，喜欢 python/C#/javascript/postgreSQL/Redis。</p>

<p>对优雅的代码有强迫症式的偏好。</p>

<p>对手机app和网站前后台开发都有兴趣。</p>

<h1>一些经验</h1>

<h6>关于Android</h6>

<p>从大一下学期开始到毕业，断断续续写了好几个Android App，有的还获过省赛的奖</p>


<h6>关于Web 技术</h6>

<p>HTML/CSS 不是专家，但是知识够用的。</p>

<p>Python 框架方面，最早学的是 Webpy 和Tornado，后来又学了Flask和Django，现在如果写后端的话，用Django（Django2开始不再支持python2真是业界良心）。</p>

<p>Javascript么？我更喜欢Typescript。</p>


<h6>其他</h6>

<p>其实Java是写的最多的，因为写了很多Android代码。后来觉得Java实在是太啰嗦了，一点都不优雅，现在几乎放弃写Java了。CSharp优雅多了，还曾用C#写过一个UWP App在Windows store (打个广告：一个番茄工作法的app，手机商店里搜索“好几个番茄” 即可找到）。 不过很久很久没更新了，算是弃坑了。</p>

<p>曾经突发奇想的想写个脚本过滤html的标签属性等，保留最干净的html，方便转换为Markdown文档，后来还真用自动机写了一个，不过只是有基本功能的0.1版本，想过update，不过到现在还是没。。。</p>

<p>也曾经因为写Python的字典和字符串数组要输入引号又要输入逗号而觉得麻烦，后来一气之下给PyCharm写了个<a href="https://github.com/er3456qi/EasyLiteral">插件</a>，自动补全引号和逗号等，后来又用Typescript重写了<a href="https://github.com/er3456qi/EasyLiteral-for-VSCode">一个</a>给Visual Studio Code用。</p>


<h6>现在</h6>

<p>现在，因为一些的原因，开始搞AI了，神经网络参数调起来！</p>



<h1>与我联系</h1>

邮件er3456qi@{qq|163|gmail|outlook}.com。</p>


{% if site.skillstree %}
   {% include skillstree.html %}
{% endif %}


