---
layout: page
title: About
subtitle: 一个可以写点东西，免得忘记的地方。
permalink: /about/
---

<p>计算机专业。</p>

<p>喜欢有创意有脑洞的事，是个有趣的人。对新事物有浓厚的学习兴趣。</p>

<p>热爱编程，喜欢自己用代码实现某些东西时的成就感。</p>

<p>看过好多书，学过很多种编程语言和技术，喜欢 python/C#/javascript/postgreSQL/Redis。</p>

<p>对优雅的代码有强迫症式的偏好。</p>

<p>对手机app和网站前后台开发都有兴趣。</p>

<h1>一些经验</h1>

<h6>关于Android</h6>

<p>从大一下开始到毕业，断断续续写了好几个Android App，有的还获过省赛的奖，也算是有些 Android 开发经验。</p>

<p>然而前阵子一个不小心，把Ubuntu的home目录删了，我大学期间写的android和收集的Linux资料全都没了。。。。。。一声叹息。</p>



<h6>关于Web 技术</h6>

<p>HTML/CSS 学了忘忘了学，到现在多少还记得些，够用的。</p>

<p>Python 看了几本书，语言基础没问题了。应用方面，Webpy、Django、Tornado都试过一遍，应该也算是过了入门级水平了。</p>

<p>Javascript很早也学了，偶尔用用，现在比较迷Typescript和AngularJS。</p>

<p>遗憾的是，除了一些实验性质的项目外，真正的web项目基本没有。好在现在打算开始了。</p>



<h6>关于Windows</h6>

<p>因为毕业设计的原因，学了C Sharp，后来用了Windows Phone，喜欢上Visual Studio，觉得写C Sharp比Java感觉好多了， C Sharp更优雅。</p>

<p>现在已经决定不再写Java了，取而代之的是C Sharp，因为觉得用Java和写Android的体验比用C Sharp差太多。而且Xamarin也免费了不是么。</p>

<p>现在已经有一个UWP App在Windows store (打个广告：一个番茄工作法的app，手机商店里搜索“好几个番茄” 即可找到）。 不过很久很久没更新了，算是弃坑了。</p>



<h6>现在</h6>

<p>现在，因为一些说不上的原因，开始搞AI了，神经网络参数调起来！</p>



<h1>与我联系</h1>

<p>可以在<a href="http://weibo.com/u/1717207925">微博</a>上找到我，或者邮件er3456qi@[163|gmail|outlook].com。</p>


{% if site.skillstree %}
   {% include skillstree.html %}
{% endif %}


