---
layout: null
---

<html>
    <head>
    {% include header.html %}
    </head>
    <body>
        <header class="post-header">
            <center>
                <div class="contact-title">{{ page.title }}</div>
                <div class="contact-subtitle">
                    <p>{{ page.subtitle }}</p>
                </div>
            </center>
        </header>

        <div class="wrapper">
            <div class="post-content">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>